.hero {
    height: 100vh;
    background-color: #18181a;
    box-shadow: inset 0px 50px 400px #00000062;
    background-image: url(../../../assets/images/PortfolioBackground.png);
    background-size: cover;
}