.projects {
    background: linear-gradient(#0000005f, #00000000), url(../../../assets/images/bakground.jpg);
    background-size: cover;
    box-shadow: inset 0px 250px 150px -150px #0000005e;
}

.projects-container {
    max-width: 1920px;
    padding: 50px;
    margin: 0 auto;
    margin-top: -70px;
}

.projects h2 {
    font-size: 45px;
    margin-bottom: 10px;
}

.project-nav-container {
    padding-top: 70px;

}

.project-nav-links {
    display: flex;
    gap: 25px;
}

.projects-link-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 20px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background-color: #00000023;
    font-family: "Alike", serif;
    color: var(--color-secondary);
}

.projects-link-button img {
    height: 20px;
}

.my-projects,
.group-projects,
.featured-project {
    margin-top: -50px;
    padding-top: 120px;
}

.group-projects-container,
.my-projects-container {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: masonry;
    gap: 40px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: #0000002e;
}

.project h4 {
    font-size: 28px;
    margin-bottom: 8px;

    font-family: "DM Sans", sans-serif;
    color: var(--color-secondary);
    font-weight: 700;
}

.project-section-title {
    font-size: 34px;
    margin-bottom: 10px;
}

.project-image {
    border-radius: 2px;
    object-fit: cover;
    object-position: center top;
    aspect-ratio: 8/5;
    border: none;
}

.project-contents {
    height: 100%;
    padding: 0 15px;
    padding-bottom: 15px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-links {
    display: flex;
    gap: 10px;
}

.project-links a {
    word-wrap: normal;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #ffffff25;
    background: linear-gradient(270deg, #1e3227b2, #ffffff25 40%);
    background-size: 500%;
    background-position: left;
    transition: background-position 0.6s;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 20px;
}

.project-links a:hover {
    background-position: right;
}

.project-links img {
    height: 18px;
}

.featured-project-timer span {
    font-family: "Alike", serif;
    color: var(--color-secondary);
}

.featured-project-container {
    display: flex;
    height: 70vh;
    max-height: 600px;
    gap: 10px;
}

.featured-project-image-border {
    background: linear-gradient(#171718, #171718) padding-box,
        linear-gradient(125deg, var(--color-primary), #d3c7ae7f) border-box;
    border-radius: 6px;
    padding: 8px;
    border: 8px solid transparent;
}

.featured-project-image-border img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.featured-project-content {
    min-width: 40%;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));;
}

.featured-project-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}


@media (max-width: 680px) {
    .projects-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .project-nav-links {
        flex-direction: column;
    }
}