<section [ngClass]="'projects'" id="projects">
    <section [ngClass]="'featured-project'">
        <section [ngClass]="'featured-project-container'">
            <h2>Projects</h2>
            <section [ngClass]="'project-nav-links'">
                <button [ngClass]="'projects-link-button'">Featured project <img
                        src="../../../assets/images/icons/one-arrow.svg" alt=""></button>
                <button [ngClass]="'projects-link-button'" (click)="scrollToElement('myProjects')">My projects <img
                        src="../../../assets/images/icons/two-arrows.svg" alt=""></button>
                <button [ngClass]="'projects-link-button'" (click)="scrollToElement('groupProjects')">Group project <img
                        src="../../../assets/images/icons/three-arrows.svg" alt=""></button>
            </section>
        </section>
    </section>

    <section ngClass="my-projects" id="myProjects">
        <h3>My projects</h3>
        <section ngClass="projects-container">
            <article ngClass="project" *ngFor="let project of myProjectsJson">
                <img ngClass="project-image" src="{{project.image}}" alt="">
                <section ngClass="project-contents">
                    <section>
                        <h3>{{project.name}}</h3>
                        <p>{{project.description}}</p>
                    </section>
                    <section ngClass="project-links">
                        <a href="" *ngIf="project.website !== 'none'">
                            <img src="../../../assets/images/icons/link.svg" alt="">
                            <p>Website</p>
                        </a>
                        <a href="" *ngIf="project.github !== 'none'">
                            <img src="./../../assets/images/icons/github.svg" alt="">
                            <p>GitHub</p>
                        </a>
                        <a href="" *ngIf="project.figma !== 'none'">
                            <img src="./../../assets/images/icons/figma.svg" alt="">
                            <p>Figma</p>
                        </a>
                    </section>
                </section>
            </article>
        </section>
    </section>


    <section ngClass="group-projects" id="groupProjects">
        <section ngClass="projects-container">
            <article ngClass="project" *ngFor="let project of groupProjectsJson">
                <img ngClass="project-image" src="{{project.image}}" alt="">
                <section ngClass="project-contents">
                    <section>
                        <h3>{{project.name}}</h3>
                        <p>{{project.description}}</p>
                    </section>
                    <section ngClass="project-links">
                        <a href="" *ngIf="project.website !== 'none'">
                            <img src="../../../assets/images/icons/link.svg" alt="">
                            <p>Website</p>
                        </a>
                        <a href="" *ngIf="project.github !== 'none'">
                            <img src="./../../assets/images/icons/github.svg" alt="">
                            <p>GitHub</p>
                        </a>
                        <a href="" *ngIf="project.figma !== 'none'">
                            <img src="./../../assets/images/icons/figma.svg" alt="">
                            <p>Figma</p>
                        </a>
                    </section>
                </section>
            </article>
        </section>
    </section>

</section>