<section [ngClass]="'projects'" id="projects">
    <section [ngClass]="'featured-project'">
        <section [ngClass]="'featured-project-container'">
            <h2>Projects</h2>
            <section [ngClass]="'project-links'">
                <button [ngClass]="'projects-link-button'" (click)="test()">Featured project <img
                        src="../../../assets/images/icons/one-arrow.svg" alt=""></button>
                <button [ngClass]="'projects-link-button'" (click)="scrollToElement('hero')">My projects <img
                        src="../../../assets/images/icons/two-arrows.svg" alt=""></button>
                <button [ngClass]="'projects-link-button'" (click)="scrollToElement('hero')">Group project <img
                        src="../../../assets/images/icons/three-arrows.svg" alt=""></button>
            </section>
        </section>
        <p> {{projectsJson[0].name}}</p>
    </section>
</section>