<!-- <nav>
    <a href=""><img ngClass="logo" src="../../../assets/images/icons/Logo.svg" alt=""></a>

    <section ngClass="nav-links">
        <a href=""><img ngClass="icon" src="../../../assets/images/icons/home.svg" alt=""></a>
        <a href="">Projects</a>
        <a href="">About</a>
        <a href="">Contact</a>
    </section>

    <section ngClass="nav-links">
        <a href=""><img ngClass="icon" src="../../../assets/images/icons/linkedin-svgrepo-com.svg" alt=""></a>
        <a href=""><img ngClass="icon" src="../../../assets/images/icons/github.svg" alt=""></a>
    </section>
</nav> -->