nav {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 10;
    color: #B02101bc;
}

.small-nav {
    background-color: #ffffff25;
    border-radius: 10px;
    padding: 15px 20px;
    top: 15px;
    backdrop-filter: blur(10px);
    box-shadow: inset 2px -2px 6px #00000010, inset -2px 2px 6px #ffffff17;
}

.logo {
    width: 32px;
}

.nav-links {
    gap: 5px;
    position: absolute;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: #ffffff39;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
    transition: 0.2s, bottom 0.5s;
}

.nav-links button,
.nav-links label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
}

.nav-links button:hover,
.nav-links label:hover {
    background-color: #ffffff6c;
}

.menu-icon {
    position: absolute;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
    background-color: #ffffff39;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    transition: 0.2s;
}

.menu-icon img {
    width: 35px;
}

.menu-icon:hover {
    bottom: 18px;
}

#menu:checked+nav>.menu-icon {
    transition: 0.5s;
    bottom: -40px;
}

#menu:checked+nav>.nav-links {
    bottom: 10px;
}