<nav [ngClass]="{'navbar': true, 'navbar-smaller': smallMenu}">
    <a ngClass="logo-container" href="">
        <img [ngClass]="'logo'" src="../../../assets/images/icons/LogoSmall.svg" alt="Logo">
        <div ngClass="logo-text">
            <p ngClass="logo-text1">ALBERT</p>
            <p ngClass="logo-text2">SPARRMAN</p>
        </div>
    </a>
    <label [ngClass]="'hamburger-menu'" for="hamburgerMenu">
        <span [ngClass]="['hamburger-menu1', 'hamburger-menu-span']"></span>
        <span [ngClass]="['hamburger-menu2', 'hamburger-menu-span']"></span>
        <span [ngClass]="['hamburger-menu3', 'hamburger-menu-span']"></span>
    </label>

    <input class="dp-none" id="hamburgerMenu" type="checkbox">
    <ul [ngClass]="'nav-link-list'">
        <section [ngClass]="'hamburger-menu-top'">
            <img src="../../../assets/images/icons/LogoSmall.svg" alt="Logo">
            <label [ngClass]="'hamburger-menu-close'" for="hamburgerMenu"> <img src="../../../assets/images/icons/close.svg" alt="Close"></label>
        </section>
        <li [ngClass]="'nav-link-container'">
            <button [ngClass]="'link-button'" (click)="scrollToElement('hero')"><img [ngClass]="'nav-icon'" src="../../../assets/images/icons/home.svg" alt="">Home</button>
            <span [ngClass]="{'nav-marker-hidden': true, 'nav-marker': home}"></span>
        </li>
        <li [ngClass]="'nav-link-container'">
            <button [ngClass]="'link-button'" (click)="scrollToElement('projects')"><img [ngClass]="'nav-icon'" src="../../../assets/images/icons/laptop.svg" alt="">Projects</button>
            <span [ngClass]="{'nav-marker-hidden': true, 'nav-marker': projects}"></span>
        </li>
        <li [ngClass]="'nav-link-container'">
            <button [ngClass]="'link-button'" (click)="scrollToElement('fre')"><img [ngClass]="'nav-icon'" src="../../../assets/images/icons/info.svg" alt="">About me</button>
            <span [ngClass]="{'nav-marker-hidden': true, 'nav-marker': about}"></span>
        </li>
        <li [ngClass]="'nav-link-container'">
            <button [ngClass]="'link-button'" (click)="scrollToElement('fre')"><img [ngClass]="'nav-icon'" src="../../../assets/images/icons/contact.svg" alt="">Contact</button>
            <span [ngClass]="{'nav-marker-hidden': true, 'nav-marker': contact}"></span>
        </li>
        <li>
            <button (click)="test()">SV</button>
        </li>
    </ul>
    <label [ngClass]="'hamburger-menu-backdrop'" for="hamburgerMenu"></label>
</nav>